<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1025475050051-dvhj8lgs05lfu257s62p9u7vqe9d5nh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBa2US_9P4od5FPRPhs_jEDeK2kmuLx_4</string>
	<key>GCM_SENDER_ID</key>
	<string>1025475050051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyuMail</string>
	<key>PROJECT_ID</key>
	<string>kyumail-407810</string>
	<key>STORAGE_BUCKET</key>
	<string>kyumail-407810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025475050051:ios:fd8bcda13927970986f2f6</string>
</dict>
</plist>